.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 20px 17px;
    margin: 0 auto;
    margin-bottom: 67px;
    max-width: 880px;
}

@media screen and (max-width: 620px) {
    .elements {
        margin-bottom: 48px;
    }
}