.element__button-element-detele {
    position: absolute;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/deleteElement.svg);
    background-size: cover;
    border: 0;
    padding: 0;
    right: 20px;
    top: 20px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}